
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


html, body {
    color: #224e70;
    font-family: verdana;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}


body, .header, .title {
    background: white;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #224e70;
}

li {
    list-style: none;
}

p {
    margin: 0;
}


/*ROW*/
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



/**CONTAINER**/

.container {
    display: block;
    flex-direction: column;
    height: 100%;
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    width: 85%;
}


/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 4em);
    margin-top: 3.5em;
    overflow-y: auto;
}


.title {
    color: #9f9696;
    font-size: 1.25em;
    font-style: italic;
    /*margin-top: .1em;*/
    position: absolute;
    width: 100%;
}


/**HEADER**/
.header {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    height: 3.5em;
    justify-content: space-between;
    max-width: 1100px;
    position: absolute;
    width: 85%;
}


/** Name **/
.name {
    display: flex;
    font-size: 2.2em;
    width: 85%;
}


#withers {
    color: #9f9696;
}


/** Hamburger **/

.hamburger svg {
    fill: #224e70;
    width: 2em;
}


/*NAVIGATION*/
#nav {
    background-color: white;
    display: flex;
    font-size: 1em;
    height: 2.5em;
    margin-top: 2.7em;
    position: absolute;
    transform: translate(-100%, 0px);
    transition: transform 0.4s ease;
    width: 100%;
    z-index: 10;
}

#nav.open{
    transform: translate(0, 0);
}

.nav-option {
    color: #9f9696;
    margin-left: 1.5em;
    padding: 0 0;
}

.nav-option:first-child {
    margin-left: 3px;
}

.nav-sub-option {
    color: #9f9696;
    font-size: .8em;
    margin: 1em 1em 0;
}

.nav-sub-option:last-child {
    margin: 1em;
}


.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    padding: 0;
    position: absolute;
    z-index: 11;
}


.dropdown:hover .dropdown-content {
    display: flex;
}


/* MAIN PAGE*/

#main-frame {
    align-items: center;
    display: flex;
    height: calc(100% - 2.7em);
    justify-content: center;
    margin-top: 1.1em;
    position: relative;
    width: 100%;
}

.main-pic {
    height: 100%;
    object-fit: cover;
    padding: 5px;
    position: absolute;
    width: 100%;
}


#pic-top {
    z-index: 1;
}

#pic-bottom {
    z-index: 0;
}




/* GALLERY */

/*ROW*/
.g-row {
    margin-top: 2.5em;
}

.box {
    align-items: center;
    color:  #9f9696;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0 1em 0;
    padding: 5px;
    width: 100%;
}


/*.frame {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}*/

.box :hover {
    box-shadow: 0 15px 15px;
}


.work {
    display: flex;
    height: 100%;
    margin-bottom: .3em;
    object-fit: contain;
    width: 100%;
}


/*  Gallery */

.gal-thumbs {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    justify-content: space-between;
    margin-top: 2em;
    overflow: scroll;
    width: 100%;
    padding: 4px
}



.gal-container {
    display: flex;
    margin-bottom: .5em;
    width: 100%;
}


.gal-polaroid {
    background: white;
    box-shadow: 0 4px 6px 2px rgba(0,0,0,.3);
    margin: .5em 0 1em 0;
    padding: 10px 10px .3em;
    text-align: center;
    width: 100%;
}


.gal-pic {
    object-fit: contain;
    width: 100%;
}


.gal-polaroid-title {
    font-size: .7em;
    margin: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.painting {
    background: white;
    display: flex;
    flex-direction: column;
    font-size: .8em;
    height: 100%;
    justify-content: center;
    left:0;
    margin: 0;
    position: absolute;
    top:0;
    transition: transform 0.4s ease;
    width: 100%;
    z-index: 100;
}

.painting-pic {
    display: flex;
    max-height: calc(100% - 2.5em);
    object-fit: contain;
    padding: 3.5em .5em .5em;
    width: 100%;
}


.painting-details {
    display: block;
    text-align: center;
}


/* LISTING*/

.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5em;
    overflow: scroll;
    width: 100%;
}


/*.lrow {
    display: flex;
    width: 100%;
}
*/

.listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .7em;
    justify-content: space-between;
    margin: .3em 0;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #9f9696;
    border-width: 1px;
    padding: .6em 0;
}


.listing-text {
    display: flex;
    flex-wrap: wrap;
}


.listing-thumb {
    display: flex;
    height: 6.3em;
    width: 6.3em;
}


.listing-img {
    display: flex;
    height: 100%;
    object-fit: contain;
    width: 100%;

}

.listing-title {
    color: #224e70;
    display: flex;
    font-weight: bold;
}

.listing-text, .listing-title {
   width: calc(100% - 6.5em);
}

.listing-details {
    display: flex;
    flex-direction: column;
    margin-top: .5em;
}


.listing-row label {
    width: 8em;
}



/* About */

.about {
    height: calc(100% - 2em);
    margin-top: 1.5em;
    overflow: scroll;
}


.about p {
    margin: 1em 0;
    text-align: justify;
    text-justify: inter-word;
}

.about-pic {
    float: left;
    margin: 0 1em 0 0;
    max-height: 65vh;
    object-fit: contain;
    width: 45%;
}


/* Button */

.buttonHolder{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 1em;
}


.button{
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, .3), inset 0 4px 1px 1px white, inset 0 -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 2em;
    margin: 0 .5em 15px;
    position: relative;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    width: 2em;
}


.button:after{
    color:#e9e6e4;
    content: "";
    display: flex;
    font-weight: bold;
    height: 30px;
    position: absolute;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    width: 30px;
}


.back:after{
    content: "◄";
    left: .4em;
    top: .35em;
}

.close:after{
    content: "✖";
    left: .55em;
    top: .3em;
}

.next:after{
    content: "►";
    left: .6em;
    top: .3em;
}



.button:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.back:hover:after, .next:hover:after{
    color:#83d244;
    text-shadow:0 0 6 #83d244;
}

.close:hover:after{
    color:#eb2f2f;
    text-shadow:0 0 6px #eb2f2f;
}

.button:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0 -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
    color:#dbd2d2;
    text-shadow: 0 -1px 1px #bdb5b4, 0px 1px 1px white;
}


/*
scroll bar
copied from https://css-tricks.com/custom-scrollbars-in-webkit/
*/
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    box-shadow: inset 0 0 1px rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    box-shadow: inset 0 0 1px rgba(0,0,0,0);
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media print {
    html, body {
       display: none;  /* hide whole page */
    }
}


/* IPAD */
@media screen and (min-width: 750px) {
    body {
        font-size: 1.5em;
    }

    .name {
        width: auto;
    }

    .gal-polaroid {
        padding: 20px 20px .3em;
    }

    .gal-container, .listing {
        width: 45%;
    }

    .listing {
        font-size: .5em;
    }
}


@media screen and (orientation: landscape) {
    .box {
        margin: 1em auto;
        max-width: 33%;
    }

    .buttonHolder{
        flex-direction: column;
    }

    .back {
        order: 3;
    }

    .next {
        order: 1;
    }

    .close {
        order: 2;
    }

    .painting-pic {
        padding: 1em .5em .5em;
    }

    .gal-container {
        width: 30%;
    }

    .gal-thumbs:after {
        content:"";
        display: block;
        margin-left: 30% ;
    }

}


@media screen and (min-width: 900px) {
    .hamburger {
        display: none;
    }

    #nav {
        height: auto;
        margin-top: 0;
        position: static;
        transform: translate(0, 0);
        width: auto;
    }

}


