/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}



html, body {
    color: #224e70;
    font-family: verdana;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}


body, .header, .title {
    background: white;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #224e70;
}

li {
    list-style: none;
}

p {
    margin: 0;
}


/*ROW*/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}



/**CONTAINER**/

.container {
    display: block;
    flex-direction: column;
    height: 100%;
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    width: 85%;
}


/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 4em);
    margin-top: 3.5em;
    overflow-y: auto;
    /*overflow-x: hidden;*/
    /*width: 100%;*/
}


.title {
    margin-top: .3em;
    color: #9f9696;
    font-size: 1.25em;
    font-style: italic;
    /*margin-top: .1em;*/
    position: absolute;
    width: 85%;
    max-width: 1100px;
}


/**HEADER**/
.header {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    height: 3.5em;
    justify-content: space-between;
    max-width: 1100px;
    position: absolute;
    width: 85%;
}


/** Name **/
.name {
    display: flex;
    font-size: 2.2em;
    width: 85%;
}


#withers {
    color: #9f9696;
}


/** Hamburger **/

.hamburger svg {
    fill: #224e70;
    width: 2em;
}


/*NAVIGATION*/
#nav {
    background-color: white;
    display: flex;
    font-size: 1em;
    height: 2.5em;
    position: absolute;
    top: 3.5em;
    left: 0;
    transform: translate(-150%, 0px);
    transition: all 0.4s ease;
    padding-top: .5em;
    width: 100%;
    z-index: 10;
}

#nav.open{
    z-index: 3;
    transform: translate(0, 0);
    transition: all 0.4s ease;
}

.nav-option {
    color: #9f9696;
    margin-left: 1.5em;
    padding: 0 0;
}

.nav-option:first-child {
    margin-left: 3px;
}

.nav-sub-option {
    color: #9f9696;
    font-size: .8em;
    margin: 1em 1em 0;
}

.nav-sub-option:last-child {
    margin: 1em;
}


.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    padding: 0;
    position: absolute;
    z-index: 11;
}


.dropdown:hover .dropdown-content {
    display: flex;
}


/* MAIN PAGE*/

#main-frame {
    align-items: center;
    display: flex;
    height: calc(100% - 2.7em);
    justify-content: center;
    margin-top: 1.1em;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.main-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 100%;
}


#p1 {
    /*display: flex;*/
    /*animation: fadein 4s;*/
    z-index: 2;
}

#p2 {
    z-index: 1;
}




/* GALLERY */

/*ROW*/
.g-row {
    margin-top: 2.5em;
}

.box {
    align-items: center;
    color:  #9f9696;
    /*display: flex;*/
    /*flex-direction: column;*/
    height: 100%;
    margin: 0 0 1em 0;
    padding: 5px;
    width: 100%;
}


/*.frame {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}*/

.box :hover {
    box-shadow: 0 15px 15px;
}


.work {
    display: flex;
    /*height: 100%;*/
    margin-bottom: .3em;
    object-fit: contain;
    width: 100%;
}


/*  Gallery */

.gal-thumbs {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    justify-content: space-between;
    margin-top: 2em;
    overflow: scroll;
    width: 100%;
    padding: 4px;
    overflow-x: hidden;
}



.gal-container {
    display: flex;
    margin-bottom: .5em;
    width: 100%;
}


.gal-polaroid {
    background: white;
    box-shadow: 0 4px 6px 2px rgba(0,0,0,.3);
    margin: .5em 0 1em 0;
    padding: 10px 10px .3em;
    text-align: center;
    width: 100%;
}


.gal-pic {
    /*object-fit: contain;*/
    width: 100%;
}


.gal-polaroid-title {
    font-size: .7em;
    line-height: 1.5em;
    margin: .3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.painting {
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
}


.painting-pic {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin:auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.painting-details {
    background-color: none;
    bottom: 0;
    color: #8fb0c4;
    display: block;
    font-size: .6em;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 1;
    transform: translate(0px, calc(100% - 2em));
    transition: all 0.4s ease;
}


.painting-details-open {
    transform: translate(0px, -0%);
    background-color: rgba(0, 0, 0, 0.2);
}


.show-details {
    position: absolute;
    bottom: 0;
    left: 0;
}

.painting-details-row {
    margin-left: .5em;
}


.painting-details-row:first-child, .painting-details-row:last-child{
    margin-bottom: 1em;
}

.image {
    position: relative;
    width: 100%;
}

#slider {
    color: #9f9696;
    display: none;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: fadein 1s;
    overflow: hidden;
    z-index: 11;
}

#slider.open {
    display: inline-block;
}

.slider-button {
    color: rgba(255, 255, 255, 0.50);
    position: absolute;
    padding: .5em;
    height: 2em;
    width: 2em;
    z-index: 2;
}

.slider-button:hover {
    color: white;
}


.slider-close {
    content: "X";
    right: 1em;
    top: 1em;
}

.slider-prev {
    text-align: left;
    top: 45%;
    left: 0.2em;
}

.slider-next {
    top: 45%;
    right: 0.2em;
}



/* LISTING*/

.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5em;
    overflow: scroll;
    width: 100%;
}


.listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .7em;
    justify-content: space-between;
    margin: .3em 0;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #9f9696;
    border-width: 1px;
    padding: .6em 0;

}

.listing-text:hover {
    background-color: #e8ecf5;
}


.listing-text {
    display: flex;
    flex-wrap: wrap;
}


.listing-thumb {
    display: flex;
    height: 6.3em;
    width: 6.3em;
}


.listing-img {
    display: flex;
    height: 100%;
    object-fit: contain;
    width: 100%;

}

.listing-title {
    color: #224e70;
    display: flex;
    font-weight: bold;
}

.listing-text, .listing-title {
   width: calc(100% - 6.5em);
}

.listing-details {
    display: flex;
    flex-direction: column;
    margin-top: .5em;
}


.listing-row label {
    width: 8em;
}



/* About */

.about {
    height: calc(100% - 4em);
    margin-top: 2em;
    overflow: scroll;
}


.about-text {
    margin: 1em 0;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2em;
    color: #9f9696;
    font-family: georgia;
    font-size: .8em;
}

.about p {
    margin-bottom: 1em;
}

.about-pic-container {
    margin-top: .5em;
    width: 100%;
}

.about-pic {
    width: 100%;
}





/*
scroll bar
copied from https://css-tricks.com/custom-scrollbars-in-webkit/
*/
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    box-shadow: inset 0 0 1px rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    box-shadow: inset 0 0 1px rgba(0,0,0,0);
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media print {
    html, body {
       display: none;  /* hide whole page */
    }
}


/* IPAD */
@media screen and (min-width: 750px) {
    body {
        font-size: 1.5em;
    }

    .name {
        width: auto;
    }

    .gal-polaroid {
        padding: 20px 20px .3em;
    }

    .gal-container, .listing {
        width: 45%;
    }

    .listing {
        font-size: .5em;
    }
}


@media screen and (orientation: landscape) {
    .main-pic {
        width: 100%;
        height: auto;
    }

    .box {
        /*margin: 1em auto;*/
        width: 33%;
    }

    .buttonHolder{
        flex-direction: column;
    }


    .gal-container {
        width: 30%;
    }

    .gal-thumbs:after {
        content:"";
        display: block;
        margin-left: 30% ;
    }

}


@media screen and (min-width: 900px) {
    .hamburger {
        display: none;
    }

    #nav {
        height: auto;
        margin-top: 0;
        position: static;
        transform: translate(0, 0);
        width: auto;
    }

    .about {
        overflow: hidden;
    }

    .about-pic-container {
        width: 47.5%;
    }

    .about-text {
        margin-top: 0;
        width: 47.5%;
        height: 80vh;
        overflow-y: auto;
    }

}