{% extends "base.html" %}

{% block content %}

    <div class="about">
        <div class="row">
            <div class="about-pic-container">
                <img class="about-pic"
                 src="{{url_for('static', filename='img/about')}}-medium.jpg"
                 srcset="{{url_for('static', filename='img/about')}}-small.jpg 600w,
                         {{url_for('static', filename='img/about')}}-medium.jpg 1200w,
                         {{url_for('static', filename='img/about')}}-large.jpg 2400w"
                 sizes="45%"
                >
            </div>

            <div class ="about-text"
            <p>
                Born in 1942 and raised in Williamstown, Victoria, Diane started her career as a
                secondary teacher specialising in Geography and French. A life of many highlights
                included being named Miss Victoria in 1968 and gaining a private pilot licence in
                1975.
            </p>
            <p>
                After early training at the National Gallery of Victoria Art School, marriage and two
                children intervened in Diane's art career. However, Diane started painting in earnest
                again in 1992, firstly with David Moore at Montsalvat, then with his father Graham Moore
                and subsequently Melbourne 20 artist Barbara McCallum.
            </p>
            <p>
                Diane has commented that these three wonderful tonal realist artists taught her not so
                much painting technique, but rather how to truly observe what needed to be put down on
                canvas. One of Diane's more unusual commissions in recent years was to produce sketches
                for the Sydney 2000 Olympic Games Equestrian program.
            </p>
            <p>
                Through sales of paintings, she now has works hanging in the United Kingdom, USA,
                Canada, and Norway. Her awards include the prestigious Frederick McCubbin art award
                where the judge commented that her work 'demonstrates a use of tone and contrast to
                deliver a real sense of life and quiet radiance'.
            </p>
            <p>
                Diane is fascinated by the appearance and wonder of all living things. She loves
                painting like life itself and hopes that this shows in her art.
            </p>
            </div>
        </div>
    </div>

{% endblock content %}



