{% extends "base.html" %}


{% block content %}
    <div id="slider">
        <div class="slider-close" onclick="toggleSlider()">X</div>

        <div class="slider-prev slider-button" data-bind="with: prev">
            <span data-bind="click: $root.setCurrent, text: '<'"></span>
        </div>

        <div class="slider-next slider-button" data-bind="with: next">
            <span data-bind="click: $root.setCurrent, text: '>'"></span>
        </div>

        <div class="painting" data-bind="with: current">
                <img class="painting-pic fade-pic" data-bind="attr: {src: img}">
                <div
                     data-bind="click: $root.toggleDetails,
                                css: {'painting-details':true,
                                      'painting-details-open':$root.showDetails}">

                    <div class="painting-details-row">•••</div>
                    <div class="painting-details-row">
                        <p data-bind="text: title"></p>
                    </div>
                    <div class="painting-details-row">
                        <p data-bind="text: medium"></p>
                    </div>
                    <div class="painting-details-row">
                        <p data-bind="text: dimensions"></p>
                    </div>
                </div>
        </div>



    </div>


    <div class="gal-thumbs" data-bind="foreach: paintings">
        <div class="gal-container">
            <a class="gal-polaroid" data-bind="click: $root.setCurrent" onclick="toggleSlider()">
                <img class="gal-pic" data-bind="attr: {src: imgSq}">
            </a>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
<script src=https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js></script>
<script src="{{url_for('static', filename='js/slider.js')}}"></script>
{% endblock scripts %}